.grass{
    color: #78c850;
}

.poison{
    color: #a040a0;
}

.fire{
    color: #f08030;
}

.water{
    color: #6090f0;
}

.ground{
    color: #e0c068;
}

.normal{
    color: #A8A878;
}

.fighting{
    color: #C03028;
}

.flying{
    color: #A890F0;
}

.rock{
    color: #B8A038;
}

.bug{
    color: #A8b820;
}

.ghost{
    color: #705898;
}

.steel{
    color: #b8b8d0;
}

.electric{
    color: #f8d030;
}

.psychic{
    color: #f85888;
}

.ice{
    color: #98d8d8;
}

.dragon{
    color: #7038f8;
}

.dark{
    color: #705848;
}

.fairy{
    color: #ee99ac;
}

.unknown{
    color: #68a090;
}

.shadow{
    color: gray;
}